<!-- product-card.component.html -->
<!-- <div class="product-card">
    <img src="../../assets/shoe.jpg" alt="Product Image" class="product-image">
    <div class="product-details">
      <h2 class="product-title">Product Title</h2>
      <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p class="product-price">$19.99</p>
      <div class="button-container">
        <button class="add-to-cart-btn">Add to Cart</button>
        <button class="view-product-btn">View Product</button>
      </div>
    </div>
  </div> -->

  <!-- app-product-card.component.html -->
<div class="product-card">
    <img src="../../assets/shoe.jpg" alt="Product Image" class="product-image">
    <div class="product-details">
      <h2 class="product-title">Product Title</h2>
      <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p class="product-price">$19.99</p>
      <div class="button-container">
        <button class="add-to-cart-btn">Add to Cart</button>
        <button class="view-product-btn">View Product</button>
      </div>
    </div>
  </div>
  
  