<!-- host-context-component.component.html -->
<div class="host-context-container">
    <p>This is the :host-context() component content.</p>

    <div class="product-card-container">
        <div class="normal">
            <h2>Normal Products</h2>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <!-- <app-product-card></app-product-card> -->
        </div>

        <div class="offer">
            <h2>Products on Offer</h2>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <!-- <app-product-card></app-product-card> -->
        </div>

        <div class="best">
            <h2>New arrivals</h2>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <!-- <app-product-card></app-product-card> -->
        </div>
    </div>
</div>