body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .feature-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    flex: 1 0 calc(25% - 10px); /* Distribute 25% of the width, deducting margin */
    margin: 5px;
    position: relative;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1577e0;
  }
  
  /* button:hover::after {
    content: attr(data-fullname);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 1;
  } */
  