<div class="container">
  <h1>Angular 16 Features</h1>

  <div class="feature-buttons">
    <button data-fullname="Angular Signals" ><a (click)="navigateTo('signals')">Angular Signals</a></button>
    <button data-fullname="Hydration" onclick="navigateToFeature('feature2')">Hydration</button>
    <button data-fullname="Standalone ng new collection" onclick="navigateToFeature('feature3')">Standalone ng new collection</button>
    <button data-fullname="Advancing developer tooling" onclick="navigateToFeature('feature4')">Advancing developer tooling</button>
    <button data-fullname="Autocomplete imports in templates" onclick="navigateToFeature('feature5')">Autocomplete imports in templates</button>
    <button data-fullname="Required inputs" onclick="navigateToFeature('feature6')">Required inputs</button>
    <button data-fullname="Passing router data as component inputs" onclick="navigateToFeature('feature7')">Passing router data as component inputs</button>
    <button data-fullname="CSP support for inline-styles" onclick="navigateToFeature('feature8')">CSP support for inline-styles</button>
    <button data-fullname="Flexible ngOnDestroy" onclick="navigateToFeature('feature9')">Flexible ngOnDestroy</button>
    <button data-fullname="Self-closing tags" onclick="navigateToFeature('feature10')">Self-closing tags</button>
    <button data-fullname="Better and more flexible components" onclick="navigateToFeature('feature11')">Better and more flexible components</button>
    <!-- Add more buttons for other features -->
  </div>
  <router-outlet></router-outlet>

</div>